<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/#selected-menus" />
    <title>Selected Menus</title>
    <script>location.replace('/#selected-menus');</script>
  </head>
  <body>
    <p><a href="/#selected-menus">Open Selected Menus</a></p>
  </body>
</html>
