<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/#colophon" />
    <title>Contact</title>
    <script>location.replace('/#colophon');</script>
  </head>
  <body>
    <p><a href="/#colophon">Open contact details</a></p>
  </body>
</html>
