<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/" />
    <title>marycielo.mx</title>
    <script>location.replace('/');</script>
  </head>
  <body>
    <p><a href="/">Open the local home page</a></p>
  </body>
</html>
